.vs/JobParser/config/applicationhost.config
.vs/JobParser/CopilotIndices/17.14.786.1071/CodeChunks.db
.vs/JobParser/CopilotIndices/17.14.786.1071/SemanticSymbols.db
.vs/JobParser/DesignTimeBuild/.dtbcache.v2
.vs/JobParser/FileContentIndex/26fc8017-2e82-4526-915f-8ac2cb2b2b80.vsidx
.vs/JobParser/FileContentIndex/5699736b-cee5-4e97-9bea-e6be221cc318.vsidx
.vs/JobParser/v17/.futdcache.v2
.vs/JobParser/v17/.suo
.vs/JobParser/v17/DocumentLayout.backup.json
.vs/JobParser/v17/DocumentLayout.json
.vs/ProjectEvaluation/jobparser.metadata.v9.bin
.vs/ProjectEvaluation/jobparser.projects.v9.bin
.vs/ProjectEvaluation/jobparser.strings.v9.bin
