.vs/JobParser/config/applicationhost.config
.vs/JobParser/CopilotIndices/17.14.786.1071/CodeChunks.db
.vs/JobParser/CopilotIndices/17.14.786.1071/SemanticSymbols.db
.vs/JobParser/DesignTimeBuild/.dtbcache.v2
.vs/JobParser/FileContentIndex/26fc8017-2e82-4526-915f-8ac2cb2b2b80.vsidx
.vs/JobParser/FileContentIndex/5699736b-cee5-4e97-9bea-e6be221cc318.vsidx
.vs/JobParser/v17/.futdcache.v2
.vs/JobParser/v17/.suo
.vs/JobParser/v17/DocumentLayout.backup.json
.vs/JobParser/v17/DocumentLayout.json
.vs/ProjectEvaluation/jobparser.metadata.v9.bin
.vs/ProjectEvaluation/jobparser.projects.v9.bin
.vs/ProjectEvaluation/jobparser.strings.v9.bin
.vs/JobParser/CopilotIndices/17.14.786.1071/CodeChunks.db-shm
.vs/JobParser/CopilotIndices/17.14.786.1071/CodeChunks.db-wal
.vs/JobParser/CopilotIndices/17.14.786.1071/SemanticSymbols.db-shm
.vs/JobParser/CopilotIndices/17.14.786.1071/SemanticSymbols.db-wal
.vs/JobParser/FileContentIndex/34217d68-a5a1-4a94-8aaa-8701996fcccf.vsidx
.vs/JobParser/FileContentIndex/38f71bfe-ec63-4c56-954b-d8fca7dbdfde.vsidx
.vs/JobParser/FileContentIndex/4704f6aa-a19f-4711-9063-7435cb3b34f8.vsidx
.vs/JobParser/FileContentIndex/8a1b01f4-c0ea-4deb-86c4-01eff57475a1.vsidx
.vs/JobParser/FileContentIndex/43a11568-7745-4ce4-b7d4-c710adcb4fd3.vsidx
*.dll
*.dll
*.exe
/src/JobParser.Api/bin
/src/JobParser.Api/bin
/src/JobParser.Api/bin
*.dll
/.vs/JobParser
/src/JobParser.Api/Logs
/src/JobParser.Api/obj
/src/JobParser.Application/bin
/src/JobParser.Application/obj
/src/JobParser.Domain/bin
/src/JobParser.Domain/obj
/src/JobParser.Infrastructure/bin
/src/JobParser.Infrastructure/obj
/tests/JobParser.Tests/bin
